.material_grey_50 {
    background-color: #FAFAFA ;
}

.material_grey_100 {
    background-color: #F5F5F5 ;
}

.material_grey_200 {
    background-color: #EEEEEE ;
}

.material_grey_300 {
    background-color: #E0E0E0 ;
}

.material_grey_400 {
    background-color: #BDBDBD ;
}

.material_grey_500 {
    background-color: #9E9E9E ;
}

.material_grey_600 {
    background-color: #757575 ;
}

.material_grey_700 {
    background-color: #616161 ;
}

.material_grey_800 {
    background-color: #424242 ;
}

.material_grey_900 {
    background-color: #212121 ;
}
